{{> header}}

<!-- Details -->
<div class="container details">
    <div class="details-content">
        <h2>{{title}}</h2>
        <strong>{{category}}</strong>
        <p>{{content}}</p>
        <div class="buttons">
            {{#if canModify}}
            <a href="/delete/{{_id}}" class="btn delete">Delete</a>
            <a href="/edit/{{_id}}" class="btn edit">Edit</a>
            {{/if}}
            <a href="/home" class="btn edit">Back</a>
        </div>
    </div>
</div>

{{> footer}}